* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: beige;
}
/* .parent {
  position: relative;
}
.parent div {
  position: absolute;
  padding: 20px;
} */
/* .parent {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.parent div {
  color: #fff;
  text-align: center;
}
.child1 {
  height: 100px;
  width: 100px;
  background-color: crimson;
  /* left: 0; 
}
.child2 {
  height: 100px;
  width: 100px;
  background-color: royalblue;
  /* left: 120px; 
}
.child3 {
  height: 100px;
  width: 100px;
  background-color: lightseagreen;
  /* left: 240px; 
} */

/* .nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: navajowhite;
}

.part2 {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}

button {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
} */
/*
.container {
  height: 100%;
  display: flex;
  background-color: beige;
  flex-wrap: wrap;
  align-content: flex-start;
}
.child {
  height: 100px;
  width: 100px;
  background-color: royalblue;
  border: 1px solid gold;
  color: #fff;
  text-align: center;
  padding-top: 40px;
}

.child:nth-child(2n) {
  background-color: crimson;
} */
