* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: grid;
  /* grid-template-rows: 20% 50%; */
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 1fr 2fr 3fr;
  background-color: black;
}

.box {
  background-color: rgb(167, 8, 34);
  border: 1px solid white;
}
