* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100px auto 100px;
  grid-template-areas:
    "header header"
    "aside section"
    "footer footer";
  background-color: black;
  row-gap: 50px;
  column-gap: 20px;
}

header {
  background-color: crimson;
  grid-area: header;
}
aside {
  background-color: lightseagreen;
  grid-area: aside;
}
section {
  background-color: royalblue;
  grid-area: section;
}
footer {
  background-color: lightcoral;
  grid-area: footer;
}
