* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  perspective: 200px;
}

#box1 {
  height: 200px;
  width: 200px;
  background-color: crimson;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateX(45deg);
  transform: skew(10deg);
}
#box2 {
  height: 200px;
  width: 200px;
  background-color: royalblue;
  position: absolute;
  /* transform: translate(100px, -30px);   */
  transform: translate(200px, 200px) rotate(45deg);
}
#box3 {
  height: 200px;
  width: 200px;
  background-color: lightseagreen;
}
