* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(119, 40, 40);
}
main {
  background-color: rgb(109, 92, 92);

  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  border-radius: 20px;
  min-height: 90vh;
  width: 80%;
}
#collect {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 60%;

  position: sticky;
  top: 30px;
  background-color: rgb(140, 45, 45);
  padding: 30px;
  border-radius: 20px;
  z-index: 1;
}
input {
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  width: 100%;
}

/* #add {
  padding: 10px 30px;
  background-color: blue;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  letter-spacing: 1px;
} */
h1 {
  color: wheat;
}
#todo-list {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 20px;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(176, 159, 159);
  padding: 10px 20px;
  border-radius: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

button {
  padding: 10px 30px;
  background-color: antiquewhite;
  color: rgb(119, 40, 40);
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  letter-spacing: 1px;
}

@media (max-width: 600px) {
  #collect {
    flex-direction: column;
    width: 90%;
    font-size: 12px;
    padding: 15px;
  }
  #todo-list {
    width: 90%;
  }
  .item {
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    font-size: 15px;
  }
  button {
    font-size: 12px;
    padding: 10px 20px;
  }
}
