* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
#parent {
  display: flex;
  background-color: royalblue;
}

.inner {
  padding: 20px;
  display: flex;
  gap: 20px;
  color: #fff;
  font-size: 32px;
  animation-name: scroll;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.inner h4:nth-child(2n) {
  color: yellowgreen;
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

/* #parent:hover #inner {
  animation-duration: 0s;
  animation-timing-function: ease;
  pointer-events: auto;
} */

#parent:hover .inner {
  animation-play-state: paused;
}
