* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#parent {
  /* display: flex; */
  background-color: royalblue;
}
#box {
  height: 80px;
  width: 100%;
  background-color: lightseagreen;
  display: flex;
  gap: 20px;
  align-items: center;
}
h4 {
  color: white;
  font-size: 32px;
  animation-name: sher;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
h4:nth-child(2) {
  background-color: crimson;
}
@keyframes sher {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
