* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
  grid-template-areas:
    "top-center top-center top-center"
    "left-center center-bottom right-center"
    "left-bottom center-bottom right-bottom";
  gap: 10px;
  padding: 10px;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: rgb(99, 37, 37);
}
.top-center {
  background-color: rosybrown;
  grid-area: top-center;
}

.left-center {
  background-color: royalblue;
  grid-area: left-center;
}
.left-bottom {
  background-color: crimson;
  grid-area: left-bottom;
}

.center-bottom {
  background-color: lightseagreen;
  grid-area: center-bottom;
}

.right-center {
  background-color: antiquewhite;
  grid-area: right-center;
}

.right-bottom {
  background-color: aquamarine;
  grid-area: right-bottom;
}
