* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightseagreen;
  gap: 20px;
}

h4 {
  font-size: 32px;
  color: #fff;
  position: relative;
}

h4::after {
  content: "";
  height: 5px;
  width: 0%;
  background-color: crimson;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  /* display: none; */
}

h4:hover::after {
  width: 100%;
  /* display: inline-block; */
  /* animation-name: anime; */
  /* animation-duration: 2s; */
  /* animation-timing-function: ease; */

  transition: all ease-in-out 0.5s;
}

@keyframes anime {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(0%);
  }
}
