* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #000;
}
button {
  padding: 20px 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 32px;
  margin: 100px;
  background: transparent;
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

button::after {
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 50%;

  background-color: royalblue;
  overflow: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  position: absolute;

  z-index: -1;

  /* transform: translate(-50%, -50%); */
}
button:hover::after {
  transform: translate(-50%, -50%) scale(100);
  transition: all ease 2s;
}
