* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #000;
}

/* #parent {
  height: 400px;
  width: 400px;
  background-color: royalblue;
  position: relative;
}

#child {
  height: 50%;
  width: 50%;
  background-color: crimson;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  background-color: royalblue;
  width: fit-content;
  font-size: 10vw;
  /* display: inline-block; 
}

h2 {
  background-color: crimson;
  width: fit-content;
  /* display: inline-block; 
}

span {
  color: #fff;
  transform: rotate(-30deg);
  display: inline-block;
}

p {
  max-width: 35ex;
  color: #fff;
} */

#parent {
  min-height: 200px;
  width: 200px;
  min-width: 200px;
  background-color: royalblue;
}
#inner {
  height: 100px;
  width: 300px;
  background-color: crimson;
}
